
@{
    ViewBag.Title = "Blog";
}

<h2 class="display-1 text-center my-3">@ViewBag.Title</h2>
<hr class="mb-5" />

<div class="jumbotron bg-dark">
    <h1 class="display-4 text-white ml-5 text-center">MUSTACCHIO</h1>
    <hr class="my-3 bg-info" />
    <div class="container">
        <div class="row">
            <div class="col text-light text-center">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col text-light text-center">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

        </div>
    </div>
</div>

<div class="container" >
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/images/mustache9.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Carl Mac</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/images/mustache6.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">William Roberts</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="card-group my-5">
        <div class="card">
            <img src="~/images/mustache2.jpg" class="card-img-top imgcard" alt="...">
            <div class="card-body">
                <h5 class="card-title">Harvey Specter</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="card-text"><small class="text-muted">Last updated 19 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/mustache-brothers.jpg" class="card-img-top imgcard" alt="...">
            <div class="card-body">
                <h5 class="card-title">James Smith</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 21 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/mustache7.jpg" class="card-img-top imgcard" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jhon Shelby</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="card-text"><small class="text-muted">Last updated 23 mins ago</small></p>
            </div>
        </div>
    </div>
