
@{
    ViewBag.Title = "Galería";
}

<h2 class="display-1 text-center my-3">GALERÍA</h2>
<hr class="mb-5" />
<div class="container">
    <div class="row">
        <div class="row container">
            <div class="col-6 col-md-4 text-center shadow"> <img class="border border-info rounded " src="~/images/mustache2.jpg" /></div>
            <div class="col-6 col-md-4 text-center shadow"> <img class="border border-info rounded" src="~/images/mustache3.jpg" /></div>
            <div class="col-6 col-md-4 text-center shadow"> <img  class="border border-info rounded" src="~/images/mustache4.jpg" /></div>
        </div>

        <div class="col-12 col-md-6 text-center mt-3 ">
            <img class="border border-info rounded shadow " src="~/images/in-the-country.jpg" />
        </div>
        <div class="col-6 col-md-6 text-center mt-3 ">
            <img class="border border-info rounded shadow" src="~/images/mustache1.jpg" />
        </div>
    </div>
    <div class="row container mb-5">
        <div class="col-6 col-md-4 text-center mt-3 shadow"> <img class="border border-info rounded"  src="~/images/mustache5.jpg" /></div>
        <div class="col-6 col-md-4 text-center mt-3 shadow">  <img class="border border-info rounded"  src="~/images/mustache6.jpg" /></div>
        <div class="col-6 col-md-4 text-center mt-3 shadow">  <img class="border border-info rounded"  src="~/images/mustache7.jpg" /></div>
    </div>
</div>




