@{
    ViewBag.Title = "Inicio";
}
<!----->
<div class="container">
    <div class="jumbotron mt-5" id="jum">
        <div class="container">
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm">
                    <div class="bg-white p-3 ">
                        <h3 class=" text-center font-weight-bold">THE BEACON TO ALL MAKIND</h3>
                    </div>

                    <div class="bg-dark text-white mt-3 p-2">
                        <h5 class="ml-3 font-weight-bold">Our website templates are created with</h5>
                    </div>

                    <div class="bg-dark text-white p-2 mt-2">
                        <h5 class="ml-3 font-weight-bold">Inspiration, checked for quality and originality</h5>
                    </div>

                    <div class="bg-dark text-white p-2 mt-2">
                        <h5 class="ml-3 font-weight-bold">and meticulosity sliced and coded</h5>
                    </div>
                    <a class="btn btn-info btn-lg mt-4" href="Home/Blog" role="button">Read more</a>
                </div>

            </div>
        </div>

    </div>


    <div class="row px-5 mb-5">
        <div class="col-md-4">
            <div class="card border-0">
                <img src="~/images/the-father.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">THE FATHER</h5>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <img src="~/images/the-actor.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">THE ACTOR</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card border-0">
                <img src="~/images/the-nerd.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">THE NERD</h5>
                </div>
            </div>
        </div>
    </div>
</div>